.quotes {
    background-image: url('../images/quotes-section-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -5;
}

.quotes p {
    padding: 320px 0 280px;
    max-width: 780px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0 auto;

    
}

.quotes p:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ff7e58;
    opacity: 0.4;
    z-index: -2;
}

.quotes p span {
    display: block;
    padding-top: 50px;
}

@media screen and (max-width: 600px) {
    .quotes p {
        font-size: 20px;
        padding: 120px 0 80px;
    }

}
